fastapi
uvicorn
httpx
pandas
motor
prefect
pydantic-settings
pymongo
sqlalchemy
pymysql
pytest
pytest-cov
pytest-mock
pytz
python-dateutil
requests
requests-oauthlib
PyYAML
mysql-connector-python
minio
cachetools
psutil
prometheus-client
prometheus-fastapi-instrumentator
aiohttp
python-dotenv
ruff
pre-commit
alembic
